.MainPage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fff;
  
  &__header {
    text-align: center;
  }

  &__logo {
    width: 100%;
    max-width: 500px;
  }

  &__subtitle {
    margin: 0 0 10px 0;
  }

  &__content {
    flex: 1;
    padding: 15px 5px;
  }
}
