.Footer {
  background-color: #333333;
  
  &::before {
    display: block;
    content: "";
    border-bottom: 100px solid #333333;
    border-right: 100vw solid transparent;
    background-color: #fff;
  }

  &__content {
    color: #eee;
    padding: 30px 5px 50px 5px;
    text-align: center;
  }
}