.Header {
  background-color: #3D9970;
  
  &::after {
    display: block;
    content: "";
    border-top: 100px solid #3D9970;
    border-right: 100vw solid transparent;
    background-color: #fff;
  }

  &__content {
    color: #111;
    padding-top: 100px;
  }
}